<main>
  <div id="jobs-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="job-list-title">Vagas em destaque</h2>
        <ul id="job-list" class="list-group">
          <li class="list-group-item new-job">
            <img src="/img/company.svg" alt="Company logo" />
            <p>Empresa</p>
            <h2>Título da Vaga</h2>
            <p>R$ 2000,00</p>
            <span class="new-job-label">Nova</span>
            <a class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item new-job">
            <img src="/img/company.svg" alt="Company logo" />
            <p>Empresa</p>
            <h2>Título da Vaga</h2>
            <p>R$ 2000,00</p>
            <span class="new-job-label">Nova</span>
            <a class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item">
            <img src="/img/company.svg" alt="Company logo" />
            <p>Empresa</p>
            <h2>Título da Vaga</h2>
            <p>R$ 2000,00</p>
            <a class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item">
            <img src="/img/company.svg" alt="Company logo" />
            <p>Empresa</p>
            <h2>Título da Vaga</h2>
            <p>R$ 2000,00</p>
            <a class="btn btn-primary">Ver vaga</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>